#board {
    text-align: center;
    width: 550px;
    height: 550px;
    position: relative;
    margin: 0 auto;
    background: green;
}

#displayFrame {
    width: 550px;
    height: 50px;
    background: rgb(26, 113, 17);
    margin: auto;
}

#fruit {
    font-size: 270%; 
    margin-inline-start: 30px; 
    margin-top: 0px;
    width: 50px;
}

#counter {
    font-size: 200%; 
    margin-block-start: -40px;
    margin-inline-start: 100px;
    width: 50px;
    height: auto;
}

#output {
    font-size: 200%; 
    margin-block-start: -70px;
    margin-inline-start: 200px;
}

#box {
    position: relative;
    top: 25px;
    left: 10px;
    display: inline-flex;
    flex-flow: row wrap;
    font-size: 1.7em;
}

#btn {
    background-color: #4CAF50;
    padding: 17px 52px; 
    font-size: 25px;
    margin-left: 55px
}

#h1Dialog {
    font-size: 350%; 
    margin-inline-start: 40px;
}

#dialog {
    left: 24px;
    top: 100px;
    width: 270px;
    height: 240px;
    background: rgb(56, 141, 253);

}

#box .cell {
  border: solid green 0.1px;
}
